
.button {
  min-width: 130px;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.h1 {
    font-family: 'Bungee', cursive;
}

.maintitle {
    font-family: 'Bungee Shade';
    color: black;
}

.maintitle:hover {
    color: navy;

    /*cursive; color: black;*/
}

.button.active {
  background: #000;
  color: #fff;
}

.loc {
  font-family: 'Bungee', cursive;
  font-size: 21px;
  fill: black;
  cursor: default;
  padding-top: 40px;
}

.loc:hover {
    fill: navy;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}
